body{
    background-color: beige;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.avatar{
    width: 200px;
    border-radius: 30%;
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 1);
    margin-left: 16px;
}
.icon{
    width: 50px;
}
.container{
    width: 95%;
    margin: auto;
    padding: 20px;
}
.bg-grey{
    background: #dbd9ce;
}
.bg-blue{
    background: #dce7ff;
}
.bg-yellow{
    background: #fff4bb;
}
.bg-green{
    background: #e5ffe7;
}
.bg-red{
    background: #ffe5e5;
}
.card{
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.list li{
    color: #86898f;
}
.card1{
    display: flex;
    align-items: center;
    padding: 30px 0;
}
.info{
    display: block;
    margin-left: 30px;
    margin-right: auto 
}
#message{
    resize: none;
}
table{
    width: 50%;
    border: 1px solid;
}
table td{
    padding-bottom: 10px;
    border: 1px solid;
    text-align: center
}
table td:nth-child(2){
    color: chartreuse;
}
table td:nth-child(3){
    color: red;
}
table th{
    font-weight: bold;
}
h2{
    text-align: center;
}
.icon {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
input[type=text] {
    border: none;
    border-bottom: 2px solid red;
  }
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-bottom: 2px solid red;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin-bottom: 10px;
}
select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-bottom: 2px solid red;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
  }